body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 16px 200px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links a, .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px;
    gap: 64px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-content button {
    background-color: #3882F6;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    width: 120px;
    flex: 1;
    font-weight: bold;
}

img.header-img {
    width: 500px;
}

/* INFORMATION */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 32px 0px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin: 0px 0px 100px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 8px;
    text-align: center;
    flex-wrap: wrap;
}

.card img {
    width: 150px;
}